.heading--title1-code-of-ethics{
    font-size: 26px;
    margin-top: 8px;
    margin-left: 15px;
}
.paragraph--text1-code-of-ethics{
    margin-top: 22px;
    font-size: 16px;
    margin-bottom: 58px;
}
.heading--title__code{
    font-size: 18px;
    font-weight: 600;
    color: #5083b8;
    margin-top: 121px;
    margin-left: -10px;

}
.paragraph--text__code{
    margin-left: -9px;
    margin-right: 42px;
    font-size: 14px;
}
.heading--title__code-pilares{
    font-size: 18px;
    font-weight: 600;
    color: #5083b8;
    margin-top: 121px;
    margin-left: 37px;
}
.paragraph--text__code-pilares{
    margin-left: 34px;
    margin-right: -89px;
    font-size: 14px;
}
.headingLevel1--title1-code-of-ethics-mobile{
    font-size: 21px;
    margin-left: 16px;
}
.paragraph--text1-code-of-ethics-mobile{
    font-size: 13px;
    margin-top: 38px;
    margin-left: 20px;
    margin-right: 20px;
}
.paragraph--text__code-mobile{
    font-size: 11px;
    margin-left: 20px;
    margin-right: 20px;
}