.imageElement--banner-code-of-ethics{
    width: 1317px;
    margin-left: 17px;
}
.imageElement--image__code{
    height: 300px;
    padding-left: 0px;
    margin-top: 22px;
}
.imageElement--banner-code-of-ethics-mobile{
    width: 738px;
    height: 172px;
}
.imageElement--image__code-mobile{
    margin-bottom: -110px;
}
