.label--link-code-of-ethics{
    background: #eb5b25;
    margin-left: 635px;
    padding: 16px;
    color: white;
    border-radius: 6px;
    text-decoration-line: none;
}
.link--link-code-of-ethics{
    text-decoration: none;
}