.label--link-code-of-ethics{
    background: #eb5b25;
    margin-left: 635px;
    padding: 16px;
    color: white;
    border-radius: 6px;
    text-decoration-line: none;
}
.link--link-code-of-ethics{
    text-decoration: none;
}
.label--link-link-pdp{
    background: #eb5b25;
    color: white;
    padding: 12px;
    padding-left: 79px;
    padding-right: 98px;
    border-radius: 6px;
    text-decoration-line: none;
}
.link--link-link-pdp{
    text-decoration: none;
}
.link--link-code-of-ethics-mobile{
    margin-left: 100px;
    margin-right: 81px;
    padding: 11px;
    background: #eb5b25;
    color: white;
    text-decoration-line: none;
    border-radius: 6px;
    padding-left: 10px;
    justify-content: center;
}