.flexCol--container__product__info--data{
    position: relative;
    width: 100%;
}  
.flexRow--container__product--info{
    padding: 10px 50px 10px 50px;
}
.flexCol--container__product__info--image  {
    padding: 0px 10px 0px 10px;   
}
.flexRowContent--product__dropdown__add-to-cart{
    padding-right: 107px;
}
.flexRowContent--product__add-to-cart-mobile{
    justify-content: center;
    margin-left: -4px;
    padding: 16px;
}
