.brandName {
    color: #000;
    font-size: .8125rem;  
}
.nameContainer {
    padding: 0px;
}
.priceConteiner--product-summary-price {
    padding: 0;
}
.sellingPriceConteiner {
    padding: 0px;
}
.nameContainer {
    padding: 0px;
}
.priceConteiner--product-summary-price {
    padding: 0;
}
.sellingPriceConteiner {
    padding: 0px;
}
.price_listPriceContainer{
    margin-top: -21px;
}
.containerNormal{
    max-width: none !important; 
    border: solid 1px #bfbfbf;
    margin-right: 40px;
    margin-left:-20px;
    padding-left: 10px;
}
.image--image-list--container{
    width: 100%;
    height: 223px !important;
    object-fit: contain;
    max-height: unset;
    max-width: 500px;
}
.galleryTitle--layout{
    font-size: 30px;
    margin-left: 7px;
}
.container {
    border-radius: 0;
  }
.gallery{
    padding-left: 26px !important;
}
@media screen and (min-width:320px){
    .galleryItem--grid{
        margin-left: 27px;
        margin-right: -11px;
    }
}
@media screen and (max-width:1024px){
    .containerNormal{
        max-width: none!important;
        margin-right: 40px;
        margin-left: 9px;
        padding-left: 10px;
    }
    .element--search__container{
        margin-right: 16px;
    }
    .container--search__container{
        width: 277px;
    }
}




