.paragraph--home_section-one-departmentName{
    font-size: 14px;
    color: #004691;
    margin-top: 5px;
}
.paragraph--home_section-one-departmentName-ofertas{
    color: #eb5b25;
    font-size: 14px;
    margin-top: 5px;
}