.headerRowContentContainer--header__desktop--menu{
    background:white;
    border-top: 4px solid #EB5B25;
    
}
.headerRowContainer--Header__middle--desktop {
    justify-content: center;
    padding-left: 285px;
    background: #004798;
    margin-bottom: -16px;
}
.headerRowContainer--Header__top--desktop{
    justify-content: center;
    background: #004798;
    padding-right: 21px;
    margin-top: -3px;
}
.headerRowContentContainer--hearder__mobile{
    background: #004798;
}
.headerRowContentContainer--Header__top{  
    height: 43px;
}
.headerStickyRow--hearder__mobile{
    width: 100%;
}
.headerRowContentContainer--header__hiperofertas--desktop{
    background:#c4d4e7;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding-top: 12px;
    padding-bottom: 10px;
    
}
.headerRowBackground--header__hiperofertas--desktop{
    background: #004691;
}
.headerRowContainer--header__hiperofertas--desktop{
    margin-right: 7px;
    margin-left: 4px;
}
.headerRowContentContainer--hearder__middle-mobile{
    background: #f8f8f8;
    margin-top: -3px;
    padding-left: 23px;
    border-top: 4px solid #EB5B25;
    margin-bottom: 29px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.headerRowContainer--hearder__middle-mobile{
    justify-content: center;
}




/*.flexRowContent--header__middle--menu{
    background-color: #004797;
     
}
.headerRowContainer--Header__middle{
    background-color: #004797;
    padding: 10px 0;
    padding-left: 15%;
    padding-right: 3%;
}
.headerRowContentContainer {
    background: #004797;
}
.headerRowContentContainer--header__desktop--menu{
    background: white;
    border-top: solid 4px #EB5B25;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    height: 40px;
    margin: 0 60px 0 auto;
    width:100%;
}
.container {
    vertical-align: middle;
    align-items: center;
  }*/