.minicartIconContainer::before{
    content: "";
    display: block;
    border-left: 1px solid white; 
    background-color: none;
}
.openIconContainer{
    padding-right: 81px;
    background-color: none;
}
.minicartQuantityBadgeDefault{
    margin-right: 13px;
}


