.flexRowContent--header__middle--menu{
   
    background-color: #004797;
     
}
.headerRowContainer--Header__middle{
    background-color: #004797;
}
.headerRowContentContainer {
    background: #004797;
}
.headerRowContentContainer--header__desktop--menu{
    background: white;
    border-top: solid 4px #EB5B25;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    height: 40px;
    margin: 0 60px 0 auto;
    width:100%;
}